body {
  background: #121212;
  color: #eee;
  font-family: sans-serif;
  padding: 30px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.progress {
  margin-top: 15px;
  width: 100%;
  height: 20px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}

#bar {
  height: 100%;
  width: 0%;
  background: #4caf50;
  transition: width 0.2s;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
  background-color: #f6f6f6;
  color: #121212;
  height: 40px;
    line-height: 40px;
    border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #e0e0e0;
}

.file-name-input{
  background-color: transparent;
  color: #ccc;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 20px;
}

ul {
  list-style: decimal;
}


#fileSelected li {
    display: flex;
    align-items: end;
    vertical-align: middle;
    gap: 8px;
    margin-bottom: 6px;
}

.preview-btn {
    cursor: pointer;
    padding: 4px 8px;
    font-size: 14px;
}